---
layout: default
---

<div>
  {{ content }}
</div>

<h3>Bækurnar</h3>

<div class="books">
  {% assign books = site.books | sort: "order_number" | reverse %}
  {% for book in books %}
    {% if book.title != 'Index' %}
    <div class="book" order_number="{{book.order_number}}">
      <span class="name">
        <strong>
          <a href="{{ book.url }}"> {{ book.title }} </a>
        </strong>
      </span>
      <br/>
      <div class="author">
        <span> - eftir </span>
        <span class="name">
          {% if book.author_link %}
          <a target="_blank" href="{{ book.author_link }}">
            {{ book.author }}
          </a>
          {% else %}
            {{ book.author }}
          {% endif %}
        </span>
        {% if book.amazon_link %}
        <span class="amazon">
          <a target="_blank" href="{{ book.amazon_link }}">
            <img src="/assets/images/amazon.15x.png" />
          </a>
        </span>
        {% else if book.link %}
        <span class="amazon">
          <a target="_blank" href="{{ book.link }}">
            {% if book.icon %}
            <img src="/assets/images/{{ book.icon }}" />
            {% else %}
            <span> Linkur <span/>
            {% endif %}
          </a>
        </span>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
